<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Interests Project</title>
        {% load staticfiles %} <!-- ALWAYS REMEMBER THIS LINE OF CODE -->
        <link rel="stylesheet" href="{% static "interests/css/styles.css" %}">
        <script src="https://use.typekit.net/iii7xtz.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </head>
    <body>
        <h1>Users and Interests</h1>
        {% for user in users %}
        <p>{{user.name}} {{user.interest}}
        <a href="/interests/{{user.id}}">See Interests</a></p>
        {% endfor%}
    </body>
</html>
